
@import url('https://rsms.me/inter/inter-ui.css');

html {
  font-family: 'Inter UI', sans-serif;
}

body {
  margin: 0;
}

main {
}

.nav__container {
  position: fixed;
display: block;
top: 0;
height: 9vh;
background: white;
width: 100%;
}
.nav__list {
  margin: 0px;
  padding: 1vh;
}
.nav__link {
  text-decoration: none;
}
.nav__link img {
  height: 30px;
  padding:1vh;
}


.nav__item {
}
.section__banner {
  height: 100vh;
  background: url('../images/background.jpg');
  background-size: cover;
}
.section__coins {
  height: 60%;
  width: 60%;
  margin: 15% auto;
}
.coins__list {
  background-color: white;
  margin: 0 auto;
}
.coin__list--item {
}
.coin__logo {
}

.coin-article {
  background-color: lightGray;
  width: 400px;
  margin: 9vh auto;
  padding: 15px;
}

.coin-article__header {
  background-color: skyblue;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 2em;
}

.coin-article__header img {
  width: 100px;
  height: 100px;
  margin: 10px;
}

.coin-article__header h1 {
margin: auto;
}

.coin-article__body {
  
}

.coin-article__body div{
  border: black solid 1px; 
  padding: 10px;
}

.coin-article__footer {
  background-color: gray;
}

/* .footer__container {}
.error {}
.error__desc {}
.error__msg {}
.error__image {}

 */
