html {
}

body {
  margin: 0;
}

main {
}

.nav__container {
  position: fixed;
display: block;
top: 0;
height: 9vh;
background: white;
width: 100%;
}
.nav__list {
  margin: 0px;
  padding: 1vh;
}
.nav__link {
  text-decoration: none;
}
.nav__link img {
  height: 30px;
  padding:1vh;
}


.nav__item {
}
.section__banner {
  height: 100vh;
  background: url('../images/background.jpg');
  background-size: cover;
}
.section__coins {
}
.coins__list {
  background-color: white;
  margin: 200px;
}
.coin__list--item {
}
.coin__logo {
}
/* .footer__container {}
.error {}
.error__desc {}
.error__msg {}
.error__image {}

 */
