@import url('https://rsms.me/inter/inter-ui.css');
html {
  font-family: 'Inter UI', sans-serif;
  color: #f1f2f6;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../images/background.jpg);
  background-size: cover;
  height: 100vh;
}

body {
  margin: 0;
}

main {
}

.header {
  margin-top: 5rem;
  text-align: center;
  font-size: 2rem;
}

.header__desc {
  text-align: center;
  font-size: 1rem;
}

.nav__container {
  position: fixed;
  display: block;
  top: 0;
  height: 9vh;
  width: 100%;
}

.nav__list {
  margin: 0px;
  padding: 1vh;
}

.nav__link {
  text-decoration: none;
}

.nav__link img {
  height: 30px;
  padding: 1vh;
}

.nav__item {
}

.section__banner {
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section__coins {
  width: 100%;
  margin: 0 auto;
}

.coins__list {
  /* background-color: white; */
  margin: 0 auto;
  display: grid;
  height: 35vh;
  width: 60%;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5%;
  text-align: center;
}

.coin__list--item {
}

.coin__list--item img {
  height: auto;
  width: 100%;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.coin__list--item img:hover {
  transform: rotateY(360deg);
}

.coin__logo {
}

.hidden {
  display: none;
}

.coin-article {
  background-color: #2d3436;
  width: 400px;
  margin: 20vh auto 5vh auto;
  padding: 15px;
}

.coin-article__header {
  background-color: #325959;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 2em;
}

.coin-article__header img {
  width: 100px;
  height: 100px;
  margin: 10px;
}

.coin-article__header h1 {
  margin: auto;
}

.coin-article__body {
}

.coin-article__body div {
  border: black solid 1px;
  padding: 10px;
  background: #17171d;
}

.section__avatars {
  min-height: 100vh;
}

.avatars__desc {
  margin: 10vh auto 5vh auto;
  text-align: center;
}

.avatars__list {
  margin: 20vh auto 0;
  height: 100%;
  width: 99%;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.avatar {
  width: 100%;
  /* justify-content: center; */
}

.section__facoin {
  height: 100vh;
  background: #f1f2f6;
  color: #2d3436;
  display: block;
  text-align: center;
}

.facoin__desc {
  padding-top: 15vh;
}

.facoin__logo {
}

.facoin {
  height: 40vh;
  width: auto;
}

.footer__container {
  background: #2d3436;
  margin: 0;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

.footer__container p {
  margin: 0;
  padding: 1vh 0;
  text-align: center;
}
/* .error {}
.error__desc {}
.error__msg {}
.error__image {} */

/* Media Queries */
@media only screen and (max-width: 600px) {
  .coins__list {
    width: 90%;
  }

  .header {
    font-size: 1.5rem;
  }

  .coins__list {
    height: 20vh;
  }
}
