<section class="section__banner">

  <h2 class="header">Top 10 cryptocurrencies in the world right now</h2>
  <p class="header__desc">Click below of to see details of each cryptocurrency:</p>

  <div aria-label="coins section" class="section__coins">
    <div aria-label="coins list" class="coins__list">

      {{#each allCoins}}

      <div class="coin__list--item">
        <a href="/{{this.symbol}}">
          <img src="/images/coins/{{ this.symbol }}.svg" alt="{{this.name}} Logo" />
        </a>
      </div>


      {{/each}}

    </div>
  </div>
</section>