<section class="section__coins">
  <ul class="coins__list">

    {{#each allCoins}}

    <li class="coin__list--item">
      <a href="/{{this.symbol}}">
        <div class="coin__logo" style="background-image: url(/images/coins/{{ this.symbol }}.svg)"></div>
        <span>{{ this.symbol }}</span>
      </a>
    </li>

    {{/each}}

  </ul>
</section>