<section class="section__banner">

  <h1 class="header">Choose a coin to find more info:</h1>

<div class="section__coins">
  <div class="coins__list">

    {{#each allCoins}}

    <div class="coin__list--item">
      <a href="/{{this.symbol}}">
        {{!-- <div class="coin__logo" style="background-image: url(/images/coins/{{ this.symbol }}.svg)"></div> --}}
        <img src="/images/coins/{{ this.symbol }}.svg"/>
      </a>
    </div>


    {{/each}}

  </div>
</div>
</section>
