<section>
  <ul>

    {{#each allCoins}}

    <li>
      <a href="">
        <div style="background-image: url(/images/coins/{{ this.symbol }}.svg)"></div>
        <span>{{ this.symbol }}</span>
      </a>
    </li>

    {{/each}}

  </ul>
</section>